:root {
    --color-primary: #585f4c; 
    --color-background: #F8F8F0; 
    --color-text-dark: #333333;
    --color-light: #FFFFFF;
}

body {
    font-family: sans-serif; 
    background-color: var(--color-background);
    color: var(--color-text-dark);
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h2 {
    color: var(--color-primary);
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: center;
}

form {
    background-color: var(--color-light);
    padding: 20px;
    border: 1px solid #ccc; 
    width: 100%;
    max-width: 350px; 
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 3px;
    font-weight: bold;
    color: var(--color-primary);
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1em;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: var(--color-primary);
    outline: none;
}

button[type="submit"] {
    width: 100%;
    background-color: var(--color-primary);
    color: var(--color-light);
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin-top: 15px;
}

button[type="submit"]:hover {
    opacity: 0.9; 
}
a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    color: var(--color-primary);
    text-decoration: none;
}   